.ico-football{
    background: url(/ico/32/football.png) no-repeat scroll 10px 10px transparent;
}
.ico-basketball{
    background: url(/ico/32/basketball.png) no-repeat scroll 10px 10px transparent;
}
.ico-nfl{
    background: url(/ico/32/american_ball.png) no-repeat scroll 10px 10px transparent;
}
.ico-highlight{
    background: url(/ico/32/tv.png) no-repeat scroll 10px 10px transparent;
}
.ico-star{
    background: url(/ico/24/star.png) no-repeat scroll 10px 6px transparent;
}
.ico-score{
    background: url(/ico/24/score.png) no-repeat scroll 10px 6px transparent;
}
.ico-calendar{
    background: url(/ico/24/calendar.png) no-repeat scroll 10px 6px transparent;
}
.ico-vision{
    background: url(/ico/24/vision.png) no-repeat scroll 10px 6px transparent;
}
.ico-tded{
    background: url(/ico/24/tded.png) no-repeat scroll 10px 6px transparent;
}
.ico-handicap{
    background: url(/ico/24/handicap.png) no-repeat scroll 10px 6px transparent;
}
.ico-table{
    background: url(/ico/24/table.png) no-repeat scroll 10px 6px transparent;
}
.ico-top_scorer{
    background: url(/ico/24/top_scorer.png) no-repeat scroll 10px 6px transparent;
}

.ico-thailand{
    background: url(/ico/24/thailand.png) no-repeat scroll 10px 6px transparent;
}
.ico-england{
    background: url(/ico/24/england.png) no-repeat scroll 10px 6px transparent;
}
.ico-spain{
    background: url(/ico/24/spain.png) no-repeat scroll 10px 6px transparent;
}
.ico-germany{
    background: url(/ico/24/germany.png) no-repeat scroll 10px 6px transparent;
}
.ico-italy{
    background: url(/ico/24/italy.png) no-repeat scroll 10px 6px transparent;
}
.ico-france{
    background: url(/ico/24/france.png) no-repeat scroll 10px 6px transparent;
}
.ico-netherland{
    background: url(/ico/24/netherland.png) no-repeat scroll 10px 6px transparent;
}

.ico-world-cup{
    background: url(/ico/24/world-cup.png) no-repeat scroll 10px 6px transparent;
}
.ico-uefa{
    background: url(/ico/24/uefa.png) no-repeat scroll 10px 6px transparent;
}
.ico-nfl-logo{
    background: url(/ico/24/nfl-logo.png) no-repeat scroll 10px 6px transparent;
}
.ico-nba{
    background: url(/ico/24/nba.png) no-repeat scroll 10px 6px transparent;
}
.ico-boxing1{
    background: url(/ico/24/boxing1.png) no-repeat scroll 10px 6px transparent;
}
.ico-boxing2{
    background: url(/ico/24/boxing2.png) no-repeat scroll 10px 6px transparent;
}
.ico-boxing3{
    background: url(/ico/24/boxing3.png) no-repeat scroll 10px 6px transparent;
}
.ico-boxing4{
    background: url(/ico/24/boxing4.png) no-repeat scroll 10px 6px transparent;
}
.ico-columnist{
    background: url(/ico/32/message.png) no-repeat scroll 10px 10px transparent;
}
.ico-news{
    background: url(/ico/32/news.png) no-repeat scroll 10px 10px transparent;
}
.ico-analyst{
    background: url(/ico/32/analyst.png) no-repeat scroll 10px 10px transparent;
}
